body {
  background-color: var(--activeColor);
}
.main {
  background-color: var(--activeColor);
  color: var(--activeFontColor);

  .palette-modal {
    padding: 16px;
    border-radius: 16px;
    position: absolute;
    border: 1px solid var(--secondaryActiveColor);
    box-shadow: 0 0 16px var(--secondaryActiveColor);
    background-color: var(--activeColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    input[name="color"] {
      display: none;
      &:checked + label {
        // border-color: white;
        // box-shadow: 0 0 4px 1px var(--activeFontColor);
      }
    }
    label {
      height: 24px;
      transition: 300ms all;
      width: 24px;
      display: block;
      background-color: #2b2b2b;
      border-radius: 50%;
      border: 3px solid transparent;
      &:hover {
        // border-color: var(--activeColor);
        transform: scale(0.8);
      }
    }
    label[for="default"] {
      background-color: var(--activeColor);
    }
    label[for="red"] {
      background-color: rgba(232, 65, 24, 1);
    }
    label[for="green"] {
      background-color: rgba(68, 189, 50, 1);
    }
    label[for="purple"] {
      background-color: rgba(140, 122, 230, 1);
    }
    label[for="blue"] {
      background-color: rgba(0, 151, 230, 1);
    }
    label[for="yellow"] {
      background-color: rgba(225, 177, 44, 1);
    }
  }
  .header {
    display: flex;
    justify-content: center;
    padding: 16px;
    position: relative;
    .options-menu-button {
      width: 50px;
      height: 50px;
      background-color: var(--secondaryActiveColor);
      color: var(--activeFontColor);
      border-radius: 16px;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      border: none;
      margin-left: auto;
      display: none;
      .iconify {
        flex-shrink: 0;
      }
    }
    .options {
      position: absolute;
      right: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      transition: 300ms all;
      &-button {
        width: 50px;
        height: 50px;
        background-color: var(--secondaryActiveColor);
        border-radius: 50%;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        color: var(--activeFontColor);
        &:not(:first-child) {
          margin-left: 16px;
        }
        &:last-child {
          display: none;
          height: 70px;
          width: 70px;
          margin-top: 50px;
        }
      }
      &.active {
        left: 0;
      }
      @media screen and (max-width: 1024px) {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 100%;
        z-index: 99;
        background-color: rgba($color: #3b3b3b, $alpha: 0.7);
        backdrop-filter: blur(3px);
        flex-direction: column;
        gap: 16px;
        &-button {
          border-radius: 90rem;
          width: 50%;
          &:not(:first-child) {
            margin-left: 0;
          }
          &:last-child {
            display: flex;
            background-color: #c61f27;
            color: #fff;
          }
        }
      }
    }
    .search-input {
      position: absolute;
      left: 16px;
      margin-right: 16px;
      height: 50px;
      width: 225px;
      padding: 0 16px;
      background-color: var(--secondaryActiveColor);
      border: 1px solid var(--secondaryActiveColor);
      outline: none;
      color: var(--activeFontColor);
      transition: 300ms background-color;
      border-radius: 16px;
      &:hover,
      &:focus-within {
        background-color: var(--activeColor);
      }
      @media screen and (max-width: 1024px) {
        width: calc(100% - 90px);
      }
    }
    .takeNoteOpenMobile {
      display: none;
      height: 60px;
      width: 60px;
      position: fixed;
      right: 25px;
      bottom: 25px;
      border: none;
      border-radius: 16px;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 16px #3b3b3b;
      background-color: var(--activeColor);
      color: var(--activeFontColor);
      z-index: 1;
      .iconify {
        flex-shrink: 0;
      }
    }

    .takeNote {
      width: 50%;
      position: relative;
      z-index: 1;
      .createNote {
        border: 1px solid var(--secondaryActiveColor);
        background-color: var(--secondaryActiveColor);
        border-radius: 16px;
        &-container {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          padding: 16px;
          max-height: 700px;
          overflow: auto;
          &-image {
            height: 300px;
            width: 100%;
            object-fit: cover;
          }
          .row {
            display: flex;
            justify-content: center;
            .options-button {
              background-color: transparent;
              // background-color: var(--activeColor);
              margin-bottom: -8px;
              color: var(--activeFontColor);
              height: 40px;
              width: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 300ms all;
              margin-left: 8px;
              border: none;
              .iconify {
                flex-shrink: 0;
              }
              &:first-child {
                margin-left: -8px;
              }
              &:hover {
                opacity: 0.5;
              }
              &:active {
                opacity: 1;
              }
            }
            .note-add-btn {
              margin-left: auto;
              // margin-top: 8px;
              background-color: var(--secondaryActiveColor);
              color: var(--activeFontColor);
              border-radius: 4px;
              border: 1px solid var(--secondaryActiveColor);
              padding: 8px 16px;
              transition: 300ms all;
              &:hover {
                background-color: var(--activeColor);
              }
            }
          }
        }
        .note-title {
          flex-shrink: 0;
          font-weight: 600;
        }
        .note-area {
          margin: 16px 0;
        }
        .note-title,
        .note-area {
          width: 100%;
          background-color: var(--secondaryActiveColor);
          outline: none;
          border: none;
          padding: 0;
          resize: none;
          color: var(--activeFontColor);
          &::placeholder {
            color: #bdbdbd;
          }
        }
      }
      @media screen and (max-width: 1024px) {
        position: fixed;
        inset: 0;
        width: 100%;
        z-index: -5;
        &.mobileActive {
          z-index: 2;
        }
        .createNote {
          box-shadow: 0 0 16px #3b3b3b;
          height: 100% !important;
          border-radius: 0;
          &-container {
            height: 100%;
            max-height: inherit;
            .openedArea {
              height: 100%;
              display: flex;
              flex-direction: column;
              .row {
                margin-top: auto;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 1024px) {
      .takeNoteOpenMobile {
        display: flex;
      }
      .options-menu-button {
        display: flex;
      }
    }
  }
  .grid-container {
    width: 100%;
    margin: 0 auto;
    padding: 16px;

    .grid {
      columns: 4;
      column-gap: 1rem;
      &.list {
        columns: 1;
      }
      &-item {
        border: 1px solid var(--secondaryActiveColor);
        color: var(--activeFontColor);
        background-color: var(--secondaryActiveColor);
        padding: 16px;
        border-radius: 16px;
        margin: 0 1rem 1rem 0;
        display: inline-block;
        width: 100%;
        position: relative;
        .title-row{
          display:flex;
          align-items: center;
          margin-bottom: 4px;
        }
        &-pin {
          background-color: transparent;
          border: none;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: 300ms all;
          color: var(--activeFontColor);
          .iconify {
            flex-shrink: 0;
          }
        }
        &-image {
          width: 100%;
          max-height: 400px;
          object-fit: cover;
          border-radius: 8px;
          margin-bottom: 16px;
        }
        &-imgRemove-container {
          margin-top: -72px;
          margin-left: 14px;
          margin-bottom: 24px;
          display: block;
          &-btn{
            background-color: var(--activeColor);
            color: var(--activeFontColor);
            border: none;
            border-radius: 8px;
            height: 40px;
            padding: 4px 16px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 16px #3b3b3b;
            transition: 300ms all;
            &:hover{
              background-color: var(--activeFontColor);
              color: var(--activeColor);
            }
            .iconify{
              flex-shrink:0;
            }
          }
        }
        &:hover {
          .grid-item-pin {
            opacity: 1;
          }
        }
        &-title {
          margin: 0;
          width: 90%;
        }
        p {
          margin: 0;
        }
        .item-row {
          display: flex;
          padding-top: 16px;
          opacity: 0;
          transition: 300ms all;
          .options-edit-btn {
            border: 1px solid var(--activeFontColor);
            background-color: var(--activeFontColor);
            color: var(--activeColor);
            padding: 6px 16px;
            border-radius: 6px;
            margin-left: auto;
          }
          .options-button {
            background-color: transparent;
            // background-color: var(--secondaryActiveColor);
            margin-bottom: -8px;
            color: var(--activeFontColor);
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 300ms all;
            margin-left: 8px;
            border: none;
            .iconify {
              flex-shrink: 0;
            }
            &:first-child {
              margin-left: -8px;
            }
            &:hover {
              opacity: 0.5;
            }
            &:active {
              opacity: 1;
            }
          }
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
        min-height: 80px;
        &:hover {
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
        }
        &.active {
          position: fixed;
          color: var(--activeFontColor);
          border-radius: 16px;
          padding: 16px;
          width: 50%;
          top: 50%;
          left: 50%;
          border: 1px solid var(--secondaryActiveColor);
          box-shadow: 0 0 16px rgba(255, 255, 255, 0.1);
          transform: translate(-50%, -50%) !important;
          background-color: var(--activeColor);
          .scroll {
            max-height: 65vh;
            overflow-y: auto;
          }
          .item-row {
            opacity: 1;
            align-items: center;
          }
          .grid-item-content {
            width: 100%;
            border: none;
            outline: none;
            padding: 0;
            resize: none;
            background-color: transparent;
          color: var(--activeFontColor);

          }
          .title-row {
            .grid-item-title {
              width: 100%;
              border: none;
              outline: none;
              padding: 0;
              background-color: transparent;
              font-weight: 600;
              font-size: 18px;
          color: var(--activeFontColor);

            }
           
          }
          z-index: 2;
          button {
          }
        }
        &:hover {
          .item-row {
            opacity: 1;
          }
        }
      }
    }
    @media screen and (max-width: 1200px) {
      .grid {
        columns: 3;
      }
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      height: calc(100vh - 82px);
      padding-bottom: 82px;
      overflow-y: auto;
      padding-left: 8px;
      padding-right: 8px;
      .grid {
        columns: 2;
        column-gap:8px;
        &-item {
          overflow: hidden;
          padding: 8px;
          margin: 0 4px 4px 0;
          border-radius: 8px;
          &-title {
            font-size: 18px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          p {
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &.active {
            width: 95%;
            overflow: inherit;
            .item-row {
              display: flex;
            }
          }
        }
      }
    }
  }
}

.header-tags {
  padding: 16px;
  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    .header-tags-item {
      position: relative;
      &-button {
        background-color: var(--secondaryActiveColor);
        color: var(--activeFontColor);
        border: none;
        padding: 8px 16px;
        border-radius: 8px;
      }
      &.active {
        button {
          background-color: var(--activeFontColor);
          color: var(--secondaryActiveColor);
        }
      }
    }
  }
}

.tags {
  position: absolute;
  left: 16px;
  z-index: 99;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--secondaryActiveColor);
  box-shadow: 0 0 16px #000;
  &-form {
    background-color: var(--secondaryActiveColor);
    height: 40px;
    border-radius: 8px;
    width: 200px;
    display: flex;
    align-items: center;
    &-input {
      padding: 0 8px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    &-input,
    &-submit {
      background-color: var(--activeColor);
      border: none;
      outline: none;
      height: 100%;
      color: var(--activeFontColor);
      width: 80%;
      transition: 300ms all;
      &:hover {
        background-color: var(--activeFontColor);
        color: var(--activeColor);
      }
    }
    &-submit {
      color: var(--activeFontColor);
      margin: 0;
      width: 20%;
      padding: 8px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
  &-list {
    margin: 0;
    padding: 0;
    margin-top: 16px;
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    &-item {
      background-color: var(--activeColor);
      height: 30px;
      display: flex;
      align-items: center;
      padding: 8px;
      &:first-child {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }
      &:last-child {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      &:hover {
        opacity: 0.7;
      }
      &-del {
        background-color: var(--secondaryActiveColor);
        height: 20px;
        width: 50px;
        border-radius: 8px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        color: var(--activeFontColor);
        margin-left: auto;
        transition: 300ms all;
        &:hover {
          background-color: darken($color: #c61f27, $amount: 0);
        }
      }
      &-input {
        height: 100%;
      }
      &-label {
        width: 100%;
        padding: 0 8px;
      }
    }
  }
}
.tags-badge {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  &-item {
    padding: 2px 16px;
    border-radius: 90rem;
    border: 1px solid var(--activeFontColor);
    font-weight: 500;
    font-size: 14px;
  }
}

.noteSkeleton {
  border: 1px solid var(--secondaryActiveColor);
  color: var(--activeFontColor);
  background-color: var(--secondaryActiveColor);
  padding: 16px;
  border-radius: 16px;
  margin: 0 1rem 1rem 0;
  display: inline-block;
  width: 100%;
  flex-direction: column;
  > span {
    display: flex;
    width: 100%;
    margin-top: 8px;
  }
  .loadingBtn {
    display: block;
    width: 25%;
    height: 40px;
    margin-left: auto;
  }
}

.auth {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  &-container {
    padding: 16px;
    background-color: var(--activeColor);
    border-radius: 16px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50%;

    .auth-form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 70%;
      label {
        margin-right: auto;
      }
      label[for="user_remember"] {
        height: 40px;
        input {
          margin-right: 16px;
        }
      }
      input[type="text"],
      input[type="password"],
      input[type="email"] {
        margin: 16px 0;
        background-color: var(--activeColor);
        height: 40px;
        width: 100%;
        border: 2px solid var(--secondaryActiveColor);
        border-radius: 8px;
        padding: 8px 4px;
      }
      input[type="submit"] {
        background-color: var(--activeFontColor);
        color: var(--activeColor);
        border: none;
        border-radius: 8px;
        width: 100%;
        height: 40px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &-container {
      width: 95%;
      .auth-form {
        width: 100%;
      }
    }
  }
}
.closeBg,
.fixedbg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
}
.fixedbg {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.7);
}

// !! switch
.switch {
  user-select: none;
  position: relative;
  display: inline-block;
  width: 180px;
  height: 40px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-bottom: 16px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 90rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondaryActiveColor);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: flex;
  align-items: center;
}
input:checked + .settingsBtn-custom-before::before {
  -webkit-transform: translateX(82px);
  -ms-transform: translateX(82px);
  transform: translateX(calc(100% - 8px)) !important;
}
.slider:before {
  border-radius: 90rem;
  position: absolute;
  content: "";
  height: 32px;
  width: 90px;
  left: 4px;
  bottom: 4px;
  background-color: var(--activeFontColor);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider > span:nth-child(1) {
  color: var(--activeColor) !important;
}
input:checked + .slider > span:nth-child(1) {
  color: var(--activeFontColor) !important;
}
input:checked + .slider > span:nth-child(2) {
  color: var(--activeColor) !important;
}
input:checked + .slider:before {
  -webkit-transform: translateX(82px);
  -ms-transform: translateX(82px);
  transform: translateX(82px);
}
.switch-key1 {
  font-weight: 500;
  text-align: center;
  z-index: 20;
  width: 50%;
}
.switch-key2 {
  font-weight: 500;
  width: 50%;
  margin-left: auto;
  text-align: center;
  z-index: 20;
}
// !! switch


::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}